{% extends 'base.html.twig' %}

{% block title %}Deposit canceled{% endblock %}

{% block body %}
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="cancel">x</i>
        </div>
        <h1 style="color: black">Cancel</h1>
        <p>Your deposit was canceled. Do something else?</p>
    </div>

{% endblock %}